@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #ffa06f;
  font-size: larger;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.post-body {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 20px;
  padding: 20px;
}
.post-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.post-info-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.post-content {
  text-align: justify;
}
.like-comment {
  margin: 20px;
  padding: 5px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.comment-container {
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.main-comment,
.main-comment-temp {
  background-color: #ffd6a0;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.sub-comment,
.sub-comment-temp {
  background-color: #ffd6a0;
  margin-left: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.comment,
.comment-temp {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: justify;
}
img {
  margin: 10px;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
}
button {
  font-size: medium;
  padding: 5px;
  background-color: #acbd86;
  border: 1px solid black;
  border-radius: 5px;
}
select {
  padding: 5px;
  background-color: transparent;
  border: none;
  font-size: larger;
}
select option {
  padding: 5px;
  background-color: transparent;
  border: none;
}
